 
*{
    box-sizing: border-box;
  }
 body {
     background-color: #ede5b7 ;
     margin: 0px;
     font-family: sans-serif, Helvetica, sans-serif;
 }
 header{
     display: flex;
     justify-content: center;
     height: 125px;
     background-color: #411111;
 }
 .Logo {
     display: flex;
     justify-content: center;
 }
 .menu {
     margin: auto;
     display: flex;
     justify-content:center;
     width: 500px;
     font-size: 20px;
     border-radius: 10px;
 }
 .menu a {
     display: flex;
     justify-content: center;
     height: 30px;
     margin-right: 30px;
     color: white;
     text-decoration: none;
     transition: .5s;
 }
 
 /* Informações da Padaria*/

 main {
     display: flex;
 }

 .info {
     position: relative;
     top: 40px;
     left: 50px;
     width: 650px;
     font-size: 40px;
     font-style:bold;
     color:#411111;
 }

 .slogan {
     margin: 8px;
 }


 /* Menu de Produtos*/

  section {
    position:relative;
    top: 70px;
    left: 60px;
    width: 840px;
    border-radius: 10px;
    background-color: #E4DAAF;
 }
.titulo {
    color: #411111;
    font-size: 40px;
    position: relative;
    top: 9px;
    left: 6px;
 }
 .Menuprodutos {
    padding: 10px;
    width: 300px;
    display:flex;
    text-align: center;
    font-size: 18px;
 }
 .Menuprodutos div {
    padding: 10px;
 }
 div img {
    border-radius: 50%;
 }

 .produto {
    transition: .5s;
 }
 .produto p {
     font-weight:700;
     color: #411111;
 }

  /* Ações*/

 .menu a:hover {
    border-radius: 5px;
    background-color: #5a1111;
}

 .produto:hover {
    box-shadow: 5px 10px 15px gray;
    border-radius: 8px;
 }
